# Ignore common files globally.
*.iml
.idea
.phplint-cache
.DS_Store

# Ignore files in the root not required by the images.
/Dockerfile
/.dockerignore
/.gitignore
/README.md
/Makefile
/.editorconfig
/LICENSE
/.travis.yml

# Ignore directories in the root not required by the images.
/.docker
/.dev
/.git

# Ignore files/directories managed by composer.
/cavalcade/vendor
/vendor
/wordpress
/wp-content/platform
/wp-content/db.php
/wp-content/plugins/rewrite-rules-inspector/
/wp-content/themes/twentyseventeen/

# Ignore directories that should never exist in image.
/wp-content/upgrade
/wp-content/uploads
