*.iml
.idea

/.dev/data/
/app/vendor/
/app/wordpress/
/app/wp-content/*

!/app/wp-content/db.php
!/app/wp-content/maintenance.php
!/app/wp-content/db-error.php
!/app/wp-content/advanced-cache.php
!/app/wp-content/object-cache.php
!/app/wp-content/db-config.php
!/app/wp-content/mu-plugins/query-monitor-patch/
