*.iml
.idea
.phplint-cache

/.dev/data/

/cavalcade/vendor

/vendor/
/wordpress/

/wp-content/upgrade/
/wp-content/uploads/

/wp-content/platform
/wp-content/db.php

/wp-content/plugins/rewrite-rules-inspector/

/wp-content/themes/twentyseventeen/
